<h1 class="page-header">Welcome to Mobi-Lean</h1>

<div>

  <h2 class="">What is Mobi-Lean?</h2>

  <p>Mobi-Lean is a group weight loss and exercise program that will not only get you to shed the fat, teach you how to eat healthier for you AND the planet, but do so in a manner that is as healthy as it is easy to maintain. We make losing weight and getting in shape entertaining and motivating with tools like the Photo Food Journal, Can’t Wait Weight Loss Graphs, Fat Depo$its, MetCon Workouts, Trainer Talk Newsletters and more.</p>

  <p>Mobi-Lean has worked with hundreds of successful participants and whose programs have been conducted for the likes of the San Francisco Chronicle, Logitech Corporation, Pacific Research Corporation, Alpine Hills Tennis and Swim Club, Mobius Fit and the Circus Club of Atherton.</p>

  <p>Mark Lipanski, who has been a fitness leader and innovator in the bay area for over 20 years, has the unique ability to take seemingly complex nutritional and health information and make sense of it in a way that is utilizable to you in the real world. More ‘digestable’ if you like. Hope to see you at one of our programs soon!</p>

  <p>FOR MORE INFORMATION or QUESTIONS</p>

  <p>Email Laura Ordonez at Laura@mobiusfit.com</p>
</div>


What is Mobi-Meals?


Testimonials


Upcoming Programs:
  Sign Up