<h1 class="page-head">Welcome to Mobi-Lean</h1>
<hr>

<div class="dark-section">
  <div class="container">
    <h2>What is Mobi-Lean?</h2>

    <p>Mobi-Lean is a group weight loss and exercise program that will not only get you to shed the fat, teach you how to eat healthier for you AND the planet, but do so in a manner that is as healthy as it is easy to maintain. We make losing weight and getting in shape entertaining and motivating with tools like the Photo Food Journal, Can’t Wait Weight Loss Graphs, Fat Depo$its, MetCon Workouts, Trainer Talk Newsletters and more.</p>

    <p>Mobi-Lean has worked with hundreds of successful participants and whose programs have been conducted for the likes of the San Francisco Chronicle, Logitech Corporation, Pacific Research Corporation, Alpine Hills Tennis and Swim Club, Mobius Fit and the Circus Club of Atherton.</p>

    <p>Mark Lipanski, who has been a fitness leader and innovator in the bay area for over 20 years, has the unique ability to take seemingly complex nutritional and health information and make sense of it in a way that is utilizable to you in the real world. More ‘digestable’ if you like. Hope to see you at one of our programs soon!</p>

    <p class="info-para">FOR MORE INFORMATION or QUESTIONS</p>

    <p>Email Laura Ordonez at <a class="dark-link" href="mailto:Laura@mobiusfit.com">Laura@mobiusfit.com</a></p>
  </div>
</div>

<div class="light-section">
  <div class="container">
    <h2>What to expect from Mobi-Lean</h2>
    <p class="light-title">Awesome Weight Loss</p>

    <p>This is a 20 Day Program with weight loss and nutrition education as its goals – Women typically lose between 6 and 11 pounds, Men between 8 and 12 pounds lost. The program does not restrict calories, but it does teach you how to eat healthier and why!</p>

    <p class="light-title">Improved Physical Conditioning</p>

    <p>The program mandates the you exercise using a method of training called “High Intensity Interval Training” (HIIT) or Metabolic Conditioning Training (MetCon) that address strength, cardio and core factors. This type of training produces superior results in shorter time than conventional training programs. RAW classes ARE this type of training (as are many of our classes at Mobius Fit).</p>

    <p class="light-title">Long Term Change</p>

    <p>Easy to Maintain – No calorie counting and no deprivation with one cheat meal or day a week, you can do this! This is all about ‘Quality over Quantity’. A system that you can continue (and want to continue) for the rest of your life.</p>

    <p class="light-title">Individual Adjustments, you are not just a number!</p>

    <p>‘Core Plus’ Eating Plan – Not only allows for individual taste adjustment but just as importantly facilitates understanding of YOUR ‘Metabolic Fingerprint’. This is the point at which carbs become thinning or fattening for YOU, not necessarily for someone else.</p>

    <p class="light-title">Improved Cardiovascular Risk Factors</p>

    <p>HDL:Triglyceride Ratio – This is the new ‘Gold Standard’ when it comes to cardiovascular health. HDL is the ‘good’ cholesterol, while Triglycerides are a measurement of our circulating blood fat. The lower the ratio, the better. Our programs WILL improve, sometimes drastically, this ratio. Most likely you will also lower your blood pressure to boot.</p>

    <p class="light-title">Real Understanding and a Bit of Fun</p>

    <p>A Game Changer – No more confusion on all the different opinions of weight loss and health. Mark turns the difficult and complex, into clear and understandable. Light bulbs will go off in your head, you will finally ‘Get it’. There is also an aspect of fun to group weight loss and exercise programs done right. The ‘We’re all in this together’ camaraderie coupled with exciting results makes for a rememberable group dynamic.</p>
  </div>
</div>

<div class="dark-section">
  <div class="container">
    <h2>Mobi-Lean Testimonials</h2>

    <div class="testimonial">
      <img class="testimonial-image1" src="http://mobiusfit.com/wp-content/uploads/2015/06/Aimee.png">
      <p>Hi Mark,</p>
      <p>Just wanted to share that I hit 20 lbs of weight loss this weekend! I was — when I first started your program and am now at —! It’s kind of hard to believe…</p>
      <p>I started looking through photos and the change I saw blew me away. Weight can be one of those things that becomes so distorted in our minds that until you take the time to reflect, you may not realize how much you have changed.</p>
      <p>Thanks for prompting me to think about food in a different way. I delved into the paleo and primal movements over the past month and gained a vast amount of knowledge that expands upon and compliments your program.</p>
      <p>Keep me posted on when you are starting a challenge at Mobius! I still want to keep pushing and see where I can take my body and my health.</p>
      <p>Thanks again,</p>
      <p>Aimee</p>
      <br>
    </div>

    <hr>

    <div class="testimonial">
      <img class="testimonial-image2" src="http://mobiusfit.com/wp-content/uploads/2015/06/Screen-Shot-2015-06-05-at-10.02.16-AM-163x300.png">
      <p>I joined the 20 Day Fat Fat Loss in January to kickstart a revamp of my fitness lifestyle. I felt like I had a pretty good grasp on my workouts but definitely needed a wake up call for my eating habits. So when you explained the easy to follow plan I knew the 5lb goal was attainable in 20 days…..who knew I would lose over 11lbs!? I not only have more sustained energy throughout the day, but I am finally sleeping normally. Just this past weekend I started trying on all my clothes and even though I was frustrated that nothing seemed to fit the same anymore, I couldn’t help but be excited that I had slimmed down so much! Your regular motivation and “no fluff” approach to lifestyle changes were essential! Plus, the fact that I don’t restrict myself from things such as dairy and an occasional glass of red wine (and dark chocolate) make this diet more of a sustainable way of living. I have continued to drop weight and am currently down 14lbs! Cancun here I come! Thank you, thank you, thank you.</p>
      <p>Feeling like a champion, ~Selena</p>
      <br><br>
    </div>

    <hr>

    <div>
      <h2>Video Testimonials</h2>
      <div class="videos">
        <div class="col-md-4">
          <iframe src="https://www.youtube.com/embed/BvQX_nlwqmQ"></iframe>
        </div>
        <div class="col-md-4">
          <iframe src="https://www.youtube.com/embed/ElgquGAzdZw"></iframe>
        </div>
        <div class="col-md-4">
          <iframe src="https://www.youtube.com/embed/dlM3JQbt5aI"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="light-section">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <h2>Upcominng Programs</h2>
      <ul>
        <div class="well"><li><h3>March... - April...<a class="btn btn-primary signup-btn" href="/signup/:program_id">Signup</a></h3></li></div>
        <div class="well"><li><h3>April... - May...<a class="btn btn-primary signup-btn" href="/signup/:program_id">Signup</a></h3></li></div>
      </ul>
    </div>
  </div>
</div>
