<h1>Core: Eat Freely</h1>
<p>For our core foods we have no limit on how much we can eat. Make sure you don't go hungry.</p>

<h3>Organic Vegetables:</h3>
<p><ul>
  <li>Spinach</li>
  <li>Broccoli</li>
  <li>Cauliflower</li>
  <li>Asparagus</li>
  <li>And most vegetables</li>
</ul></p>
<p>The exception here are root vegetables like potatoes and yams, which are 'grey area' veggies - high in carbs for veggies. In the long term root vegetables are fine, but not in the short term of this program.</p>

<h3>Animal Protein:</h3>
<p><ul>
  <li>Eggs</li>
  <li>Chicken</li>
  <li>Beef</li>
  <li>Fish</li>
  <li>Pork</li>
  <li>Or any free frange, grass fed, pastured, or wild animal protein</li>
</ul></p>
<p>Be diverse in your weekly protein choices. This is not a 'high protein' diet. This is a 'eat protein because my body is telling me too' diet.</p>

<a class="btn btn-primary btn-lg" href="/diets" role="button">Go back to diet program</a>