<center>
<div class="container">
  <h2>Core: Eat Freely</h2>
  <div class="core">
    <h3>Core:</h3>
    <h3 style="color:#dddd0d;">Organic</h3>
    <h3>Vegetables</h3>
    <h3 style="color:#dddd0d;">Humane</h3>
    <h3>Animal Protein</h3>
  </div>
</div>

<h4 style="color:grey;">For our core foods we have no limit on how much we can eat. Make sure you don't go hungry.</h4>
</center>

<hr>

<div class="dark-section">
  <h2>Organic Vegetables:</h2>
  <center>
  <p>Spinach<br>
  Broccoli<br>
  Cauliflower<br>
  Asparagus<br>
  And most vegetables</p>
  <p>The exception here are root vegetables like potatoes and yams, which are 'grey area' veggies - high in carbs for veggies. In the long term root vegetables are fine, but not in the short term of this program.</p>
  </center>
</div>

<div class="light-section">
  <h2>Animal Protein:</h2>
  <center>
  <p>Eggs<br>
  Chicken<br>
  Beef<br>
  Fish<br>
  Pork<br>
  Or any free frange, grass fed, pastured, or wild animal protein.</p>
  <p>Be diverse in your weekly protein choices. This is not a 'high protein' diet. This is a 'eat protein because my body is telling me too' diet.</p>
  </center>
</div>

<center>
<a class="btn btn-primary btn-lg" href="/diets" role="button">Go back to diet information</a>
</center>