<h1>Mobi-Lean</h1>
<h3>20 Day Weight Loss, Nutrition & Lifestyle Camp</h3>
<p>In this diet program we believe that instead of limiting the food you eat and counting calories, we limit certain types of food. With this in mind that means you can be on a diet that doesn't make you go hungry</p>

<div class="diets-title"><h1>'Core Plus' Overview</h1></div>
<br>

<div class="container core-container">
  <h2>Core: Eat Freely</h2>
  <a href="/diets/core"><div class="core">
    <h3>Core:</h3>
    <h3 style="color:#dddd0d;">Organic</h3>
    <h3>Vegetables</h3>
    <h3 style="color:#dddd0d;">Humane</h3>
    <h3>Animal Protein</h3>
  </div></a>
</div>

<div class="container moderation-container1">
  <h2>Moderation:</h2>
  <h2>2-3 Picks a Day</h2>
  <a href="/diets/moderation"><div class="moderation1">
    <h3>Moderation:</h3>
    <h3>Spaghetti Squash 1c</h3>
    <h3>Hummus/Guac. 1/4c</h3>
    <h3>Cottage Cheese 1c</h3>
  </div></a>
</div>

<div class="container moderation-container2">
  <h2>Moderation:</h2>
  <h2>More Choices</h2>
  <a href="/diets/moderation"><div class="moderation2">
    <h3>Moderation:</h3>
    <h3>Nuts/Seeds 1oz</h3>
    <h3>Greek Yogurt 1c</h3>
    <h3>Cheese 1oz</h3>
    <h3>Almond Butter 2T</h3>
    <h3>Zoodles 1c</h3>
  </div></a>
</div>

<div class="container options">
  <h2>Options: 2 a Day, Can Mix</h2>
</div>

<a href="/diets/options">
  <div class="fruit-option">
    <h3>Fruit</h3>
    <h3>Option:</h3>
    <h3>1pc./cup =</h3>
    <h3>one option</h3>
  </div>
</a>

<a href="/diets/options">
  <div class="bean-option">
    <h3>Bean</h3>
    <h3>Option:</h3>
    <h3>1/2c = one</h3>
    <h3>option</h3>
  </div>
</a>

<a href="/diets/options">
  <div class="happy-option">
    <h3>Happy</h3>
    <h3>Option:</h3>
    <h3>1 glass =</h3>
    <h3>one option</h3>
  </div>
</a>

<a href="/diets/cheat">
  <div class="cheat">
    <div class="label">
      <h3>chEAT!</h3>
    </div>
  </div>
</a>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container plans">
  <h2>Diet Plans</h2>
  <p>Here you can learn about different plans and pick one that best suits you.</p>
  <a class="btn btn-primary btn-lg" href="/diets/plans" role="button">See all plans in detail</a>
</div>