<h1>Mobi-Lean</h1>
<h3>20 Day Weight Loss, Nutrition & Lifestyle Camp</h3>
<p>In this diet program we believe that instead of limiting the food you eat and counting calories, we limit certain types of food. With this in mind that means you can be on a diet that doesn't make you go hungry</p>

<h1>'Core Plus' Overview</h1>
<br>

<div class="col-md-6">
  <div class="jumbotron">
    <div class="container">
      <h2>Core: Eat Freely</h2>
      <p>These are your core foods and you have no limit on how much of these you eat. Eat freely and do not hungry.</p>
      <a class="btn btn-primary btn-lg" href="/diets/core" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron">
    <div class="container">
      <h2>Moderation: 2-3 Picks</h2>
      <p>These foods you should eat in moderation, meaning a total of 2 picks of these a day for women and 3 for men</p>
      <a class="btn btn-primary btn-lg" href="/diets/moderation" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron">
    <div class="container">
      <h2>Options: 2 Picks</h2>
      <p>Here you can choose between fruit, beans, and wine/alcohol</p>
      <a class="btn btn-primary btn-lg" href="/diets/options" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron">
    <div class="container">
      <h2>Cheat Meal: Once a Week</h2>
      <p>This meal can be whatever you like</p>
      <a class="btn btn-primary btn-lg" href="/diets/cheat" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron">
    <div class="container">
      <h2>Other Options</h2>
      <p>Here you can learn about different options for your diet plan</p>
      <a class="btn btn-primary btn-lg" href="/diets/other_options" role="button">See all food items</a>
    </div>
  </div>
</div>