<div class="diets-title"><h1>'Core Plus' Overview</h1></div>
<h4 style="color:grey;">Click on each box for more information</h4>
<br>

<div class="container core-container">
  <h2>Core: Eat Freely</h2>
  <div class="core coreClick dietinfo">
    <h3>Core:</h3>
    <h3 style="color:#dddd0d;">Organic</h3>
    <h3>Vegetables</h3>
    <h3 style="color:#dddd0d;">Humane</h3>
    <h3>Animal Protein</h3>
  </div>
</div>

<div class="diet-info" id="jumboCore" style="display:none;">
  <center>
  <h4>For our core foods we have no limit on how much we can eat. Make sure you don't go hungry.</h4>

  <div class="row">
  <div class="col-sm-6 col-xs-12">
    <h2 style="color:#dddd0d;">Organic Vegetables:</h2>
    <p>Spinach<br>
    Broccoli<br>
    Cauliflower<br>
    Asparagus<br>
    And most vegetables</p>
    <p>The exception here are root vegetables like potatoes and yams, which are 'grey area' veggies - high in carbs for veggies. In the long term root vegetables are fine, but not in the short term of this program.</p>
  </div>

  <div class="col-sm-6 col-xs-12">
    <h2 style="color:#dddd0d;">Animal Protein:</h2>
    <p>Eggs<br>
    Chicken<br>
    Beef<br>
    Fish<br>
    Pork<br>
    Or any free frange, grass fed, pastured, or wild animal protein.</p>
    <p>Be diverse in your weekly protein choices. This is not a 'high protein' diet. This is a 'eat protein because my body is telling me too' diet.</p>
  </div>
  </div>

  <button class="btn btn-primary close-info-btn coreClick">Close</button>
  </center>
</div>

<script>
  $(document).ready(function() {
    $(".coreClick").on("click", function() {
      var core = document.getElementById("jumboCore");
      if (core.style.display === 'none') {
        core.style.display = '';
      } else {
        core.style.display = "none";
      }
    })
  })
</script>

<div class="container moderation-container1">
  <h2>Moderation:</h2>
  <h2>2-3 Picks a Day</h2>
  <div class="moderation1 modClick dietinfo">
    <h3>Moderation:</h3>
    <h3>Spaghetti Squash 1c</h3>
    <h3>Hummus/Guac. 1/4c</h3>
    <h3>Cottage Cheese 1c</h3>
  </div>
</div>

<div class="container moderation-container2">
  <h2>Moderation:</h2>
  <h2>More Choices</h2>
  <div class="moderation2 modClick dietinfo">
    <h3>Moderation:</h3>
    <h3>Nuts/Seeds 1oz</h3>
    <h3>Greek Yogurt 1c</h3>
    <h3>Cheese 1oz</h3>
    <h3>Almond Butter 2T</h3>
    <h3>Zoodles 1c</h3>
  </div>
</div>

<div class="diet-info" id="jumboMod" style="display:none;">
  <center>
  <h4>Moderation means a total of 2 (women) or 3 (men) picks a day from this group.</h4>
  <h2>Your choices:</h2>
  <p>Nuts/Seeds 1oz<br>
  Greek Yogurt 1c<br>
  Cheese 1oz<br>
  Almond Butter 2T<br>
  Zoodles 1c<br>
  Spaghetti Squash 1c<br>
  Hummus/Guac. 1/4c<br>
  Cottage Cheese 1c</p>
  <p>Nuts and seeds can be any kind except for cashews, chestnuts, and pistachios, which are all too high in carbs for this short program.</p>
  <p>Greek yogurt should be made with natural fat (whole fat) with a ration of at least 2:1 proteins to carbs. Look for grass fed and no added horomones.</p>
  <p>Cheese's should be hard cheese, goat cheese, or cottage cheese with natural fat. Again look for grass fed and no added hormones.</p>
  <button class="btn btn-primary close-info-btn modClick">Close</button>
  </center>
</div>

<script>
  $(document).ready(function() {
    $(".modClick").on("click", function() {
      var mod = document.getElementById("jumboMod");
      if (mod.style.display === 'none') {
        mod.style.display = '';
      } else {
        mod.style.display = "none";
      }
    })
  })
</script>

<div class="box1"></div>
<div class="tri1"></div>

<div class="box2"></div>
<div class="tri2"></div>

<div class="box3"></div>
<div class="tri3"></div>

<div class="container options">
  <h2>Options: 2 a Day, Can Mix</h2>
</div>

<div class="fruit-option optionClick dietinfo">
  <h3>Fruit</h3>
  <h3>Option:</h3>
  <h3>1pc./cup =</h3>
  <h3>one option</h3>
</div>

<div class="bean-option optionClick dietinfo">
  <h3>Bean</h3>
  <h3>Option:</h3>
  <h3>1/2c = one</h3>
  <h3>option</h3>
</div>

<div class="happy-option optionClick dietinfo">
  <h3>Happy</h3>
  <h3>Option:</h3>
  <h3>1 glass =</h3>
  <h3>one option</h3>
</div>

<div class="diet-info" id="jumboOption" style="display:none;">
  <center>
  <h4>Everyday you get to choose two options from this list.</h4>
  <h2>Your Options:</h2>
  <p style="color:#ffa100;">Fruit:<br>
  Best choices are the darker fruits (lower in fructose). Choose berries most often. A cup of berries equall one serving. No more than one banana as one of your two options. Again, what is in season is organic. Also note that items like tomatoes and avocados are technically fruits (because of the seeds). In order to avoid confusion, if it is sweet or tart then it is a fruit. If it is more savory, call it a veggie.</p>
  <p style="color:#0e47d6;">Bean:<br>
  Lentils, black beans, pinto beans, red beans, or most organic beans. No BBQ  or baked beans! This option works best for those who have trouble feeling full.</p>
  <p style="color:#a8088d;">Happy:<br>
  Wine/Alcohol. Stick to 'dry' organic or natural wines (no added sugar or additives). For reds choose Pinot Noir, Cabernet Sauvignon, and Merlot. For whites choose Sauvignon Blanc and Chardonnay.</p>
  <p style="color:#111870;">Dark Chocolate:<br>
  You can only use 1 option a day on this! There are circulatory benefits to the cocoa in dark chocolate, plus it's a tasty way to take up your fat intake. You can use bars that are 80% cocoa or higher (they should be no more than 20 grams of net carbs per serving (net = carb count minus fiber).</p>
  <button class="btn btn-primary close-info-btn optionClick">Close</button>
  </center>
</div>

<script>
  $(document).ready(function() {
    $(".optionClick").on("click", function() {
      var option = document.getElementById("jumboOption");
      if (option.style.display === 'none') {
        option.style.display = '';
      } else {
        option.style.display = "none";
      }
    })
  })
</script>

<div class="container cheat-container">
  <h3>Once a week have a</h3>
</div>

<div class="cheat-tri"></div>

<div class="cheat cheatClick dietinfo">
  <div class="label">
    <h3>chEAT!</h3>
  </div>
</div>

<div class="diet-info" id="jumboCheat" style="display:none;">
  <center>
  <h2>chEAT!</h2>
  <p>Once a week you get to have a cheat meal. This can be anything you wish. There is no calorie counting in this program, for this meal or any other. How you approach your cheat meal is a highly personalized thing that can change week to week, as you're about to find out. Enjoy!</p>
  <button class="btn btn-primary cheat-info-btn cheatClick">Close</button>
  </center>
</div>

<script>
  $(document).ready(function() {
    $(".cheatClick").on("click", function() {
      var cheat = document.getElementById("jumboCheat");
      if (cheat.style.display === 'none') {
        cheat.style.display = '';
      } else {
        cheat.style.display = "none";
      }
    })
  })
</script>

<div class="container chocolate-container">
  <h2>Substitution</h2>
</div>

<div class="chocolate-option optionClick dietinfo">
  <h3>Dark Chocolate 1/2 bar: Can replace 1 Option</h3>
</div>







