<h1>Mobi-Lean</h1>
<h3>20 Day Weight Loss, Nutrition & Lifestyle Camp</h3>
<p>In this diet program we believe that instead of limiting the food you eat and counting calories, we limit certain types of food. With this in mind that means you can be on a diet that doesn't make you go hungry</p>

<h1>'Core Plus' Overview</h1>
<br>

<div class="col-md-6">
  <div class="jumbotron core">
    <div class="container">
      <h2>Core: Eat Freely</h2>
      <p>These are your core foods of organic vegetables and animal protein. You can eat these foods freely and do not hungry.</p>
      <a class="btn btn-primary btn-lg" href="/diets/core" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron moderation">
    <div class="container">
      <h2>Moderation: 2-3 Picks a Day</h2>
      <p>These foods you should eat in moderation, meaning a total of 2 picks of these a day for women and 3 for men</p>
      <a class="btn btn-primary btn-lg" href="/diets/moderation" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron options">
    <div class="container">
      <h2>Options: 2 Picks a Day</h2>
      <p>Here you can choose between fruit, beans, and wine/alcohol</p>
      <a class="btn btn-primary btn-lg" href="/diets/options" role="button">See all food items</a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="jumbotron cheat">
    <div class="container">
      <h2>Cheat Meal: Once a Week</h2>
      <p>Once a week you get to have a cheat meal. This can be anything you wish. There is no calorie counting in this program, for this meal or any other. How you approach your cheat meal is a highly personalized thing that can change week to week, as you're about to find out. Enjoy!</p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="jumbotron plans">
    <div class="container">
      <h2>Diet Plans</h2>
      <p>Here you can learn about different plans and pick one that best suits you.</p>
      <a class="btn btn-primary btn-lg" href="/diets/plans" role="button">See all plans in detail</a>
    </div>
  </div>
</div>