<h1 class="page-head">Mobi-Meals</h1>
<hr>

<div class="light-section">
  <center>
  <h2 style="color:black">Online Shopping</h2>
  <p><a class="dark-link" href="http://www.thrivemarket.com">Thrive Market</a></p>
  <p><a class="dark-link" href="http://www.goodeggs.com">Good Eggs</a></p>
  <p><a class="dark-link" href ="http://www.amazon.com">Amazon</a></p>
  </center>
</div>

<div class="dark-section">
  <h2>Meal Helpers</h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-4 col-sm-6">
      <p><ul>
        <li>Miracle Noodles and Rice 0g 0cal</li>
        <li>Coconut or Tumeric Wraps 4g 70cal</li>
        <li>Flacker Crackers Dill/Rosemary 1g 100cal</li>
        <li>Vegetable Spiralizer</li>
        <li>Riced Cauliflower 3g 25cal</li>
        <li>Pacific Foods Bone Broth 0g 35cal</li>
        <li>Shiro Miso Paste 4g 35cal</li>
        <li>Nasoya Organic Tofu 2g 80cal</li>
        <li>Natural Wine 3g 120cal</li>
        <li>Primal Kitchen Salad Dressings 2g 140cal</li>
      </ul></p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <p><ul style="list-style: none;">
        <li><a class="dark-link" href="https://www.amazon.com/Miracle-Noodle-Gluten-Shirataki-7-Ounce/dp/B00BP36RTY/ref=sr_1_2_s_it?s=grocery&ie=UTF8&qid=1503420308&sr=1-2&keywords=miracle%2Bnoodles&th=1">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/NUCO-Certified-ORGANIC-Gluten-Coconut/dp/B01LL3FQQC/ref=sr_1_1?s=grocery&ie=UTF8&qid=1503420592&sr=1-1-spons&keywords=Coconut%2BWraps&th=1">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/Doctor-Kitchen-Flackers-Crackers-Rosemary/dp/B01MXDGIH5/ref=sr_1_7_s_it?s=grocery&ie=UTF8&qid=1503420699&sr=1-7&keywords=flacker+crackers">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/Spiralizer-Vegetable-Strongest-Heaviest-Gluten-Free/dp/B00GRIR87M/ref=sr_1_2?s=grocery&ie=UTF8&qid=1503420768&sr=8-2&keywords=vegetable+spiralizer">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/Keto-Co-Cauliflower-Servings-Prepared/dp/B071NM1TN2/ref=sr_1_1_s_it?s=grocery&ie=UTF8&qid=1503420818&sr=1-1&keywords=rice+cauliflower">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/Pacific-Foods-Organic-Original-Chicken/dp/B00QGABYPS/ref=sr_1_4_s_it?s=grocery&ie=UTF8&qid=1503420876&sr=1-4&keywords=Pacific+Foods+Bone+Broth">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/Miko-Brand-35-2oz-Miyasaka-Brewery/dp/B00I33D544/ref=sr_1_1_s_it?s=grocery&ie=UTF8&qid=1503420931&sr=1-1&keywords=Shiro+Miso+Paste">Amazon</a></li>
        <li><a class="dark-link" href="https://www.amazon.com/Nasoya-Extra-Firm-USDA-Organic/dp/B000VHT1Y8/ref=sr_1_1_s_f_it?s=grocery&ie=UTF8&qid=1503420971&sr=1-1&ppw=fresh&keywords=Nasoya+Organic+Tofu">Amazon</a></li>
        <li><a class="dark-link" href="http://www.dryfarmwines.com">dryfarmwines.com</a></li>
        <li>Thrive Market</li>
      </ul></p>
    </div>
  </div>
</div>

<div class="light-section">
  <h2>Other Items</h2>
  <p><ul style="list-style: none;">
    <li class="meal-helpers">No vegetable oils.</li>
    <li class="meal-helpers">Good Oils - Flaxseed, Walnut, Olive, Macademia, Cocunut, and Avocado (Note: best to make your own salad dressings).</li>
    <li class="meal-helpers">Cooking - Tallow, Lard, Butter, Cocunut Oil, Olive Oil.</li>
    <li class="meal-helpers">Butter must be grass fed.</li>
    <li class="meal-helpers">No cured meats - Bacon must be uncured. Try Applegate for sausages and lunch meats.</li>
    <li class="meal-helpers">Look for grass fed hormone free cheese. Try Goat cheese.</li>
    <li class="meal-helpers">Almond and Cocunut milk are allowed - must be unswetened.</li>
    <li class="meal-helpers">Organic Mayo is allowed. Try Avocado Mayo from Thrive Market.</li>
    <li class="meal-helpers">Take a Multi-Vitamin daily during the duration of this program. Kate Lam is a rep for USANA's HealthPak if you are interested in top end supplementation (858) 688-4616 <a class="dark-link" href="mailto:katiemelanielam@gmail.com">katiemelanielam@gmail.com</a>.</li>
  </ul></p>
</div>

<div class="dark-section">
  <h2>Supplements</h2>
  <div class="row">
  <center>
    <div class="col-md-4 col-sm-6">
      <p><ul>
        <li><a class="dark-link" href="https://shop.usana.com/shop/spring/shopping/productDetail?ProductID=109.010101#.WZxjddPyugQ">Vitamin D</a></li>
        <li><a class="dark-link" href="https://shop.usana.com/shop/spring/shopping/productDetail?ProductID=108.010102#.WZxlJNPyugQ">USANA Probiotic</a></li>
        <li><a class="dark-link" href="https://shop.usana.com/shop/spring/shopping/productDetail?ProductID=135.010103#.WZxlJ9PyugQ">Hepasil DTX</a></li>
        <li><a class="dark-link" href="https://shop.usana.com/shop/spring/shopping/productDetail?ProductID=226.010104#.WZxlgdPyugR">USANA MySmart Fibergy Plus</a></li>
      </ul></p>
    </div>
  </center>
  </div>
</div>

<div class="light-section">
  <h2>Moderation Carb and Calotire Counts</h2>
  <div class="row">
  <center>
    <div class="col-md-offset-2 col-md-4 col-sm-6">
      <p class="carb-p">Spaghetti Squash 1c</p>
      <p class="carb-p">Guacamole 1/4c</p>
      <p class="carb-p">Zucchini Noodles 1c</p>
      <p class="carb-p">Hummus 1/4c</p>
      <p class="carb-p">Cheese 1oz</p>
      <p class="carb-p">Nuts 1oz</p>
      <p class="carb-p">Greek Yogurt 1c</p>
      <p class="carb-p">Almond Butter 2T</p>
      <p class="carb-p">Cottage Cheese 1c</p>
    </div>

    <div class="col-md-4 col-sm-6">
      <p class="carb-p">5.5g    41cal</p>
      <p class="carb-p">5.4g    88cal</p>
      <p class="carb-p">4.1g    93cal</p>
      <p class="carb-p">8.7g    100cal</p>
      <p class="carb-p">0.4g    113cal</p>
      <p class="carb-p">4.0g    172cal</p>
      <p class="carb-p">9.0g    190cal</p>
      <p class="carb-p">3.0g    196cal</p>
      <p class="carb-p">8.0g    222cal</p>
    </div>
    </center>
  </div>
</div>

<center>
<div class="container"><%= image_tag 'fruit.png', class:"fruit-berry" %></div>
<div class="container"><%= image_tag 'berries.png', class:"fruit-berry" %></div>

<p><i>All the numbers are percent of digestible carbohydrates i.e. net carbs (so the fibre is not counted).</i></p>
<p><i>This means that 100 grams of berries (3.5 ounces or about three handfuls) - will contain that number of grams of carbs.</i></p>
</center>

<div class="dark-section">
  <h2>Sweetners</h2>

  <p>Using sugar to sweeten foods and beverages isn't a healthy practice, and of course not allowed on this diet.</p>
  <p>One tablespoon of white or brown sugar has 12 grams of carbs in the form of sucrose, which is 50% fructose and 50% glucose.</p>
  <p>Although honey may seem healthier, it's even higher in carbs. One tablespoon provides 17 grams of carbs, with roughly the same percentage of fructose and glucose as sugar.</p>
  <p>Learning to enjoy the natural flavor of foods without adding any sweetner may ultimately be best.</p>
  <p>However, here are a few safe sugar-free swetners that may even have some modest health benefits:</p>
  <p><ul style="list-style: none;">
    <li><b>Stevia:</b> Stevia comes from the stevia plant, which originated in South America. In animal studies, it has shown to help lower blood sugar levels and increase insulin sensitivity.</li>
    <li><b>Erythritol:</b> Erythritol is a type of sugar alcohol that tastes like sugar, does not raise blood sugar or insulin levels and may help prevent cavities by killing plaque-causing bacteria.</li>
    <li><b>Xylitol:</b> Another sugar alcohol, xylitol also helps fight the bacteria that causes tooth decay. In addition, animal research suggests it may reduce insulin resistance and protect against obesity.</li>
  </ul></p>
  <p><i>All three of these are available on Amazon and most likely at Whole Foods or Country Sun.</i></p>
</div>











