<h1 class="page-head">Mobi-Meals</h1>
<hr>

<div class="dark-section">
  <h2>Online Shopping</h2>
  <p><ul>
    <li><a class="dark-link" href="thrivemarket.com">Thrive Market</a></li>
    <li><a class="dark-link" href="goodeggs.com">Good Eggs</a></li>
    <li><a class="dark-link" href ="amazon.com">Amazon</a></li>
  </ul></p>
</div>

<div class="light-section">
  <h2>Meal Helpers</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <p><ul>
        <li>Shirataki Noodles and Rice 0g 0cal</li>
        <li>Julian Paleo Cocunt Wraps 4g 70 cal</li>
        <li>Flacker Crackers Dill/Rosemary 1g 100cal</li>
        <li>Vegetable Spiralizer</li>
        <li>Riced Cauliflower 3g 25cal</li>
        <li>Pacific Foods Bone Broth 0g 35cal</li>
        <li>Shiro Miso Paste 4g 35cal</li>
        <li>Beast Burger 3g 260cal</li>
        <li>Nasoya Organic Tofu 2g 80cal</li>
        <li>Primal Fuel Meal Replace 5g 190cal</li>
        <li>Natural Wine</li>
      </ul></p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <p><ul style="list-style: none;">
        <li>Thrive Market</li>
        <li>Amazon</li>
        <li>Amazon</li>
        <li>Amazon</li>
        <li>Trader Joes</li>
        <li>Amazon</li>
        <li>Amazon</li>
        <li><a href="beyondmeat.com">beyondmeat.com</a></li>
        <li>Whole Foods</li>
        <li><a href="primalblueprint.com">primalblueprint.com</a></li>
        <li><a href="dryfarmwines.com">dryfarmwines.com</a></li>
      </ul></p>
    </div>
  </div>
</div>

<h3>Other Items</h3>
<p><ul style="list-style: none;">
  <li>No vegetable oils.</li>
  <li>Good Oils - Flaxseed, Walnut, Olive, Macademia, Cocunut, and Avocado (Note: best to make your own salad dressings).</li>
  <li>Cooking - Tallow, Lard, Butter, Cocunut Oil, Olive Oil.</li>
  <li>Butter must be grass fed.</li>
  <li>No cured meats - Bacon must be uncured. Try Applegate for sausages and lunch meats.</li>
  <li>Look for grass fed hormone free cheese. Try Goat cheese.</li>
  <li>Almond and Cocunut milk are allowed - must be unswetened.</li>
  <li>Organic Mayo is allowed. Try Avocado Mayo from Thrive Market.</li>
  <li>Take a Multi-Vitamin daily during the duration of this program. Kate Lam is a rep for USANA's HealthPak if you are interested in top end supplementation (858) 688-4616 <a href="mailto:katiemelanielam@gmail.com">katiemelanielam@gmail.com</a>.</li>
</ul></p>

<h3>Moderation Carb and Calotire Counts</h3>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <p><ul style="list-style: none;">
      <li>Spaghetti Squash 1c</li>
      <li>Guacamole 1/4c</li>
      <li>Zucchini Noodles 1c</li>
      <li>Hummus 1/4c</li>
      <li>Cheese 1oz</li>
      <li>Nuts 1oz</li>
      <li>Greek Yogurt 1c</li>
      <li>Almond Butter 2T</li>
      <li>Cottage Cheese 1c</li>
    </ul></p>
  </div>

  <div class="col-md-4 col-sm-6">
    <p><ul style="list-style: none;">
      <li>5.5g    41cal</li>
      <li>5.4g    88cal</li>
      <li>4.1g    93cal</li>
      <li>8.7g    100cal</li>
      <li>0.4g    113cal</li>
      <li>4.0g    172cal</li>
      <li>9.0g    190cal</li>
      <li>3.0g    196cal</li>
      <li>8.0g    222cal</li>
    </ul></p>
  </div>
</div>

<div class="container"><%= image_tag 'fruit.png', class:"fruit-berry" %></div>
<div class="container"><%= image_tag 'berries.png', class:"fruit-berry" %></div>

<p><i>All the numbers are percent of digestible carbohydrates i.e. net carbs (so the fibre is not counted).</i></p>
<p><i>This means that 100 grams of berries (3.5 ounces or about three handfuls) - will contain that number of grams of carbs.</i></p>

<h3>Sweetners</h3>

<p>Using sugar to sweeten foods and beverages isn't a healthy practice, and of course not allowed on this diet.</p>
<p>One tablespoon of white or brown sugar has 12 grams of carbs in the form of sucrose, which is 50% fructose and 50% glucose.</p>
<p>Although honey may seem healthier, it's even higher in carbs. One tablespoon provides 17 grams of carbs, with roughly the same percentage of fructose and glucose as sugar.</p>
<p>Learning to enjoy the natural flavor of foods without adding any sweetner may ultimately be best.</p>
<p>However, here are a few safe sugar-free swetners that may even have some modest health benefits:</p>
<p><ul style="list-style: none;">
  <li><b>Stevia:</b> Stevia comes from the stevia plant, which originated in South America. In animal studies, it has shown to help lower blood sugar levels and increase insulin sensitivity.</li>
  <li><b>Erythritol:</b> Erythritol is a type of sugar alcohol that tastes like sugar, does not raise blood sugar or insulin levels and may help prevent cavities by killing plaque-causing bacteria.</li>
  <li><b>Xylitol:</b> Another sugar alcohol, xylitol also helps fight the bacteria that causes tooth decay. In addition, animal research suggests it may reduce insulin resistance and protect against obesity.</li>
</ul></p>
<p><i>All three of these are available on Amazon and most likely at Whole Foods or Country Sun.</i></p>











