<h1>Moderation: 2-3 Picks</h1>
<p>Moderation means a total of 2 (women) or 3 (men) picks a day from this group.</p>

<h3>Your choices:</h3>
<p><ul>
  <li>Nuts/Seeds 1oz</li>
  <li>Greek Yogurt 1c</li>
  <li>Cheese 1oz</li>
  <li>Almond Butter 2T</li>
  <li>Zoodels 1c</li>
  <li>Spaghetti Squash 1c</li>
  <li>Hummus/Guac. 1/4c</li>
  <li>Cottage Cheese 1c</li>
</ul></p>
<p>Nuts and seeds can be any kind except for cashews, chestnuts, and pistachios, which are all too high in carbs for this short program.</p>
<p>Greek yogurt should be made with natural fat (whole fat) with a ration of at least 2:1 proteins to carbs. Look for grass fed and no added horomones.</p>
<p>Cheese's should be hard cheese, goat cheese, or cottage cheese with natural fat. Again look for grass fed and no added hormones.</p>

<a class="btn btn-primary btn-lg" href="/diets" role="button">Go back to diet program</a>