<center>
<div class="container">
  <h2>Moderation:</h2>
  <h2>2-3 Picks a Day</h2>
  <div class="moderation1" style="display:inline-block;">
    <h3>Spaghetti Squash 1c</h3>
    <h3>Hummus/Guac. 1/4c</h3>
    <h3>Cottage Cheese 1c</h3>
    <h3>Nuts/Seeds 1oz</h3>
  </div>

  <div class="moderation1" style="display:inline-block;">
    <h3>Greek Yogurt 1c</h3>
    <h3>Cheese 1oz</h3>
    <h3>Almond Butter 2T</h3>
    <h3>Zoodles 1c</h3>
  </div>
</div>

<h4 style="color:grey;">Moderation means a total of 2 (women) or 3 (men) picks a day from this group.</h4>
</center>

<hr>

<div class="dark-section">
  <h2>Your choices:</h2>
  <center>
  <p>Nuts/Seeds 1oz<br>
  Greek Yogurt 1c<br>
  Cheese 1oz<br>
  Almond Butter 2T<br>
  Zoodles 1c<br>
  Spaghetti Squash 1c<br>
  Hummus/Guac. 1/4c<br>
  Cottage Cheese 1c</p>
  <p>Nuts and seeds can be any kind except for cashews, chestnuts, and pistachios, which are all too high in carbs for this short program.</p>
  <p>Greek yogurt should be made with natural fat (whole fat) with a ration of at least 2:1 proteins to carbs. Look for grass fed and no added horomones.</p>
  <p>Cheese's should be hard cheese, goat cheese, or cottage cheese with natural fat. Again look for grass fed and no added hormones.</p>
  </center>
</div>

<center>
<a class="btn btn-primary btn-lg" href="/diets" role="button">Go back to diet information</a>
</center>