<h1>Options: 2 Picks</h1>
<p>Everyday you get to choose two options from this list.</p>

<h3>Your choices:</h3>
<p><ul>
  <li>Fruit 1pc. or 1c</li>
  <li>Happy 1 glass</li>
  <li>Bean 1/2c</li>
  <li>Dark Chocolate 1/2 bar</li>
</ul></p>
<p>Fruit: Best choices are the darker fruits (lower in fructose). Choose berries most often. A cup of berries equall one serving. No more than one banana as one of your two options. Again, what is in season is organic. Also note that items like tomatoes and avocados are technically fruits (because of the seeds). In order to avoid confusion, if it is sweet or tart then it is a fruit. If it is more savory, call it a veggie.</p>
<p>Happy: Wine/Alcohol. Stick to 'dry' organic or natural wines (no added sugar or additives). For reds choose Pinot Noir, Cabernet Sauvignon, and Merlot. For whites choose Sauvignon Blanc and Chardonnay.</p>
<p>Bean: Lentils, black beans, pinto beans, red beans, or most organic beans. No BBQ  or baked beans! This option works best for those who have trouble feeling full.</p>
<p>Dark Chocolate: You can only use 1 option a day on this! There are circulatory benefits to the cocoa in dark chocolate, plus it's a tasty way to take up your fat intake. You can use bars that are 80% cocoa or higher (they should be no more than 20 grams of net carbs per serving (net = carb count minus fiber).</p>

<a class="btn btn-primary btn-lg" href="/diets" role="button">Go back to diet program</a>