<h1>Diet Plans:</h1>
<p>Here is a list of our diet plans that you can choose from. These are listed from greatest weight loss to easiest weight loss.</p>

<h2>Hawaiian Nut Fast: 1-2 days max</h2>
<p>This fast is a type of 'Fat Fast'. Used with particularly metabolic resistive people, it can give them an extra push or get over a plateau. Women  get 5 oz. of macadamia nuts (1000 cal) and men 6 oz. of macadamia nuts (1200 cal). One ounce of nuts is consumed at a time over the course of the day until your nuts up. This can be a very powerful short term method to put in your nutrition tool box.</p>

<h2>18 Hour Fast</h2>
<p>Simply, you finish your dinner at 6pm one day and do not eat again until noon the next day. Works great on a Sunday evening to Monday noon. This type of fasting can become a regular healthy weekly practice</p>

<h2>Core Plan: 1-2 weeks max</h2>
<p>In this plan you eat foods only from the core foods section.</p>

<h2>Core + Moderation: 2-4 weeks max</h2>
<p>In this plan you eat foods from core and moderation food sections while following the rules of 2-3 foods from the moderation food section.</p>

<h2>Core + Moderation + Options: On going</h2>
<p>In this plan you eat foods from core, moderation, and the options section while following the rules of 2-3 foods from the moderation section and only two options a day.</p>

<h2>Core + Moderation + Multiple Options: Lucky you</h2>
<p>In this plan you eat foods from core, moderation, and the options section while following the rules of 2-3 foods from the moderation section and only two options a day.</p>