// Place all the styles related to the Diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.core {
  background-color: green;
  color: white;
}

.moderation {
  background-color: orange;
  color: white;
}

.options {
  background-color: red;
  color: white;
}

.cheat {
  background-color: blue;
  color: white;
}

.plans {
  background-color: purple;
  color: white;
}

.fruit-berry {
  width: 80%;
}

.diet-log {
  text-align: center;
}

.dark-div {
  background: #eaeaea;
  background: -webkit-linear-gradient(left, #ffffff, #eaeaea, #ffffff);
  background: -o-linear-gradient(right, #ffffff, #eaeaea, #ffffff);
  background: -moz-linear-gradient(right, #ffffff, #eaeaea, #ffffff);
  background: linear-gradient(to right, #ffffff, #eaeaea, #ffffff);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.light-div {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.edit-btn {
  background: #00ccff;
  border: none;
  z-index: 1;
}
.edit-btn:hover{
  background-color: #00afdb;
}

.edit-btn-div {
  position: absolute;
  right: 60px;
}

.save-btn {
  background: #00ccff;
  border: none;
  float: left;
  margin-right: 5px;
  margin-top: 200px;
}
.save-btn:hover {
  background-color: #00afdb;
}
.close-btn {
  background: none;
  padding: 4px 10px;
  border: 2px solid #00ccff;
  color: #00ccff;
  display: inline;
  margin-top: 200px;
}
.close-btn:hover {
  background: none;
  border: 2px solid #00afdb;
  color: #00afdb;
}

@media (max-width: 769px) {
  .day-weight {
    text-align: center;
  }
  .edit-btn {
    position: absolute;
    right: 0px;
  }
}

.jumbo-wrapper {
  position: fixed;
  top: 60px;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 1px 3px 3px #888888;
  background: #eaeaea;
  width: 90%;
  left: 5%;
}
.editJumbo {
  padding-bottom: 10px;
}
@media (max-height: 579px) {
  .jumbo-wrapper {
    height: 85%;
    overflow: scroll;
  }
}
@media (max-width: 767px) {
  .save-btn,
  .close-btn {
    margin-top: 5px;
  }
}


