// Place all the styles related to the Diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.diets-title {
  position: absolute;
  left: 500px;
  color:#ffa100;
}

.container {
  h3 {
    line-height: 10px;
  }
  a:hover {
    text-decoration: none;
  }
}

.core-container {
  position: absolute;
  left: 570px;
  top: 320px;
}
.core {
  background-color: #16bf00;
  color: white;
  border-radius: 10%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 10px;
}

.moderation-container1 {
  position: absolute;
  left: 220px;
  top: 320px;
  h2 {
    line-height: 20px;
  }
}
.moderation1 {
  background-color: #ff3535;
  color: white;
  border-radius: 10%;
  height: 170px;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.moderation-container2 {
  position: absolute;
  left: 820px;
  top: 320px;
  h2 {
    line-height: 20px;
  }
}
.moderation2 {
  background-color: #ff3535;
  color: white;
  border-radius: 10%;
  height: 200px;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.options {
  position: absolute;
  top: 720px;
  text-align: center;
}
.fruit-option {
  position: absolute;
  top: 720px;
  left: 340px;
  height: 170px;
  width: 170px;
  border-radius: 100%;
  background-color: #ffa100;
  color: white;
  text-align: center;
  padding: 10px;
  h3 {
    line-height: 10px;
  }
}
.bean-option {
  position: absolute;
  top: 780px;
  left: 600px;
  height: 170px;
  width: 170px;
  border-radius: 100%;
  background-color: #0e47d6;
  color: white;
  text-align: center;
  padding: 10px;
  h3 {
    line-height: 10px;
  }
}
.happy-option {
  position: absolute;
  top: 720px;
  left: 870px;
  height: 170px;
  width: 170px;
  border-radius: 100%;
  background-color: #a8088d;
  color: white;
  text-align: center;
  padding: 10px;
  h3 {
    line-height: 10px;
  }
}

.cheat {
  background-color: #60c7ff;
  color: white;
  position: absolute;
  top: 970px;
  left: 800px;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  .label {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.plans {
  background-color: purple;
  color: white;
}

.fruit-berry {
  width: 80%;
}

.diet-log {
  text-align: center;
}

.dark-div {
  background: #eaeaea;
  background: -webkit-linear-gradient(left, #ffffff, #eaeaea, #ffffff);
  background: -o-linear-gradient(right, #ffffff, #eaeaea, #ffffff);
  background: -moz-linear-gradient(right, #ffffff, #eaeaea, #ffffff);
  background: linear-gradient(to right, #ffffff, #eaeaea, #ffffff);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.light-div {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.edit-btn {
  background: #00ccff;
  border: none;
}
.edit-btn:hover{
  background-color: #00afdb;
}

.edit-btn-div {
  position: absolute;
  right: 60px;
  z-index: 5;
}

.save-btn {
  background: #00ccff;
  border: none;
  float: left;
  margin-right: 5px;
  margin-top: 200px;
}
.save-btn:hover {
  background-color: #00afdb;
}
.close-btn {
  background: none;
  padding: 4px 10px;
  border: 2px solid #00ccff;
  color: #00ccff;
  display: inline;
  margin-top: 200px;
}
.close-btn:hover {
  background: none;
  border: 2px solid #00afdb;
  color: #00afdb;
}

@media (max-width: 769px) {
  .day-weight {
    text-align: center;
  }
  .edit-btn {
    position: absolute;
    right: 0px;
  }
}

.jumbo-wrapper {
  position: fixed;
  top: 60px;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 1px 3px 3px #888888;
  background: #eaeaea;
  width: 90%;
  left: 5%;
}
.editJumbo {
  padding-bottom: 10px;
}
@media (max-height: 579px) {
  .jumbo-wrapper {
    height: 85%;
    overflow: scroll;
  }
}
@media (max-width: 767px) {
  .save-btn,
  .close-btn {
    margin-top: 5px;
  }
}


