// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//navbar
.mobius-image {
  height: 30px;
}
.nav-link {
  text-align: right;
}

.flash-message {
  margin-top: 0px;
}

//body

html, body {
  height: 100%;
}
.body-container {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 80px;
  padding-bottom: 30px;
}

//footer
.footer {
  background: #000000;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 5px;
}

.footer-content {
  text-align: center;
}

//custom theme
.page-head {
  text-align: center;
}

p {
  line-height: 25px;
}

hr {
  border: 1px solid #00ccff;
}

.light-section {
  margin-bottom: 25px;
  h2 {
    color: #00ccff;
    text-align: center;
  }
  p {
    font-size: 13px;
  }
  .light-title {
    color: #00ccff;
    margin-top: 20px;
  }
}

.dark-section {
  background-color: #eaeaea;
  margin-bottom: 30px;
  padding-bottom: 30px;
  h2 {
    text-align: center;
    color: #00ccff;
  }
  p {
    font-size: 13px;
  }
}
.dark-link {
  color: #00ccff;
}
.dark-link:hover {
  color: #00afdb;
}
.info-para {
  line-height: 50px;
  text-indent: 50px;
}

.testimonial-image1 {
  height: 250px;
  float: left;
  margin-bottom: 30px;
}
.testimonial-image2 {
  height: 250px;
  float: left;
  margin-right: 60px;
  margin-bottom: 30px;
}

.testimonial {
  vertical-align: center;
}

.videos {
  padding-left: 30px;
}

.signup-btn {
  position: absolute;
  right: 30px;
  background-color: #00ccff;
  border: none;
}
.signup-btn:hover {
  background-color: #00afdb;
}



